/* For demo purposes only - ignore */
.design-system__header {
  border-bottom: 1px solid #E3E8EB;
  padding-bottom: 24px;
}

.night-theme .design-system__header  {
  border-color: #2B383F;
}

.design-system__title {
  font-size: 24px;
  font-weight: 500;
  color: #09161D;
  margin-bottom: 16px;
}

.night-theme .design-system__title {
  color: #ffffff;
}

.design-system__colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.design-system__colors * div {
  grid-column: 1/13;
}

.design-system__colors > div > div {
  display: flex;
}

.design-system__color {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin: 0 8px 8px 0;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-block;
}

.design-system__color.teal {
  background-color: #31c3a2;
}

.design-system__color.purple {
  background-color: #8736E0;
}

.design-system__color.red {
  background-color: #F85640;
}

.design-system__color.yellow-light {
  background-color: #FFF9E5;
}

.design-system__color.yellow-dark {
  background-color: #CA9D00;;
}

.design-system__color.light-1 {
  background-color: #FFFFFF;
  border-color: #919191;
}

.design-system__color.light-2 {
  background-color: #F5F8FA;
}

.design-system__color.light-3 {
  background-color: #E3E8EB;
}

.design-system__color.light-4 {
  background-color: #BDC2C4;
}

.design-system__color.light-5 {
  background-color: #91979A;
}

.design-system__color.dark-1 {
  background-color: #050D12;
}

.design-system__color.dark-2 {
  background-color: #09161D;
}

.design-system__color.dark-3 {
  background-color: #17242D;
  border-color: #919191;
}

.design-system__color.dark-4 {
  background-color: #2B383F;
}

.design-system__color.dark-5 {
  background-color: #4F5E65;
}

/* Use */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 1.3;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 24px;
  color: #09161D;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h2,
h3 {
  margin-bottom: 16px;
  font-weight: 500;
}

h2 {
  font-size: 16px;
}

.night-theme h1,
.night-theme h2,
.night-theme h3 {
  color: #ffffff;
}

a {
  color: #4F5E65;
}

.night-theme a {
  color: #BDC2C4;
}

p {
  margin-top: 0;
  margin-bottom: 24px;
}

.small-text {
  font-size: 12px;
  color: #91979A;
}

pre {
  background-color: #F5F8FA;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 24px;
}

.night-theme pre {
  background-color: #09161D;
}

code {
  color: #F85640;
}

/* Helpers */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.content-wrapper {
  display: flex;
  color: #4F5E65;
}

.night-theme.content-wrapper {
  background-color: #17242D;
  color: #BDC2C4;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 32px;
  width: 200px;
  border-right: 1px solid #E3E8EB;
}

.night-theme .navigation {
  border-color: #2B383F;
}

.content {
  flex: 1;
  padding: 32px;
}

.navigation__logo {
  width: 60px;
  margin-bottom: 24px;
}

.navigation__li {
  margin-bottom: 16px;
}

.section {
  margin-bottom: 32px;
}

.section__group {
  margin-bottom: 24px;
}

.section .section__group:last-child {
  margin-bottom: 0;
}

/* Accordions */
.accordion {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #E3E8EB;
  padding: 16px;
}

.accordion__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion__title {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 24px;
  display: flex;
  align-items: center;
  color: #09161D;
  font-weight: 500;
}

.accordion__title:before {
  content: '\f067';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  left: 0;
  background: #F5F8FA;
  color: #91979A;
  border-radius: 4px;
  width: 14px;
  height: 14px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: all 275ms;
}

.accordion input:checked ~ .accordion__content {
  max-height: 100vh;
}

.accordion__content-inner {
  margin-top: 16px;
}

.night-theme .accordion {
  border-color: #4F5E65;
}

.night-theme .accordion__title {
  color: #ffffff;
}

.night-theme .accordion__title:before {
  background: #2B383F;
}

/* Badges */
.badge {
  border-radius: 4px;
  font-size: 12px;
  margin: 0 0 0 8px;
  padding: 0 4px;
  text-transform: capitalize;
  background: rgba(79,94,101, .08);
  color: #4F5E65;
  vertical-align: text-bottom;
  border: 1px solid transparent;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
}


.badge--left {
  margin: 0 8px 0 0;
}

.badge--beta {
  background: #FFF9E5;
  color: #CA9D00;
}

.badge--new {
  background: rgba(135,54,224,.08);
  color: #8736E0;
}

.badge--pro {
  background: rgba(49,195,162, .08);
  color: #31C3A2;
}

.badge--warning {
  background: rgba(248,86,64, .08);
  color: #F85640;
}

.night-theme .badge {
  background: #4F5E65;
  color: #ffffff;
}

.night-theme .badge--new {
  background: #8736E0;
  color: #ffffff;
}

.night-theme .badge--beta {
  background: #CA9D00;
  color: #ffffff;
}

.night-theme .badge--pro {
  background: #31C3A2;
  color: #ffffff;
}

.night-theme .badge--warning {
  background: #F85640;
  color: #ffffff;
}

/* Buttons */
.button-group .button {
  margin: 0 0 0 8px;
}

.button-group--left .button {
  margin: 0 8px 0 0;
}

.button {
  padding: 0px 8px;
  font-size: 14px;
  text-transform: capitalize;
  background-color: #E3E8EB;
  color: #4F5E65;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  display: inline-block;
  height: 34px;
  line-height: 32px;
  transition: all 275ms;
  font-weight: 500;
  border-radius: 4px;
  font-family: 'Roboto';
  border: 1px solid transparent;
  text-decoration: none;
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

.button:disabled {
  color: #BDC2C4
}

.button--lg {
  height: 48px;
  font-size: 16px;
  padding: 0 16px;
}

.button--action {
  background: #31C3A2;
  color: #FFFFFF;
}

.button--warning {
  color: #F85640;
  background: rgba(251, 72, 76, 0.16);
}

.button--action:disabled,
.button--warning:disabled {
  opacity: .6;
}

.night-theme .button--default {
  background-color: #4F5E65;
  color: #ffffff;
}

.night-theme .button--default:disabled {
  background-color: #2B383F;
  color: #4F5E65;
}

.night-theme .button--warning {
  background-color: #F85640;
  color: #ffffff;
}

/* Callouts */
.callout {
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 8px;
  line-height: 16px;
}

.callout a {
  color: inherit;
}

.callout--info {
  background: #FEF9E7;
  color: #C49E34;
}

.callout--warning {
  color: #F85640;
  background: rgba(251, 72, 76, 0.16);
}

.callout--success {
  background: rgba(49,195,162,.08);
  color: #31C3A2;
}

.night-theme .callout--info {
  background: rgba(196,158,52,.08);
}


/* Forms */
form .form-group:last-child,
.form .form-group:last-child {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
}

.form-group label:first-child {
  grid-column: 1/13;
}

.form-group * {
  grid-column: 1/13;
}

@media(min-width: 980px) {
  .form-group label:first-child  {
    grid-column: 1/4;
  }

  .form-group * {
    grid-column: 4/13;
  }
}

/* Header */
.header {
  display: inline-block;
  width: 100%;
  margin-bottom: 24px;
}

.header h1 {
  display: inline-block;
  margin-bottom: 16px;
}

.header p {
  margin-bottom: 0;
}

/* Grid */
.grid-example {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
}

.grid-example__col {
  background-color: #91979A;
  height: 80px;
  border-radius: 4px;
}

.grid-example--2 .grid-example__col:first-child {
  grid-column: 1/4;
}

.grid-example--2 .grid-example__col:last-child {
  grid-column: 4/13;
}

/* Inputs */
input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=url],
input[type=search],
select,
textarea {
  border-radius: 4px;
  border: 1px solid #E3E8EB;
  box-shadow: none;
  height: 34px;
  font-size: 14px;
  padding: 0 8px;
  background: #FFFFFF;
  margin-bottom: 0px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto';
  color: #4F5E65;
}

select {
  background: #F5F8FA;
  border-color: #F5F8FA;
}

textarea {
  padding: 8px;
  height: auto;
  line-height: 1.3;
}

.night-theme input[type=text],
.night-theme input[type=password],
.night-theme input[type=number],
.night-theme input[type=email],
.night-theme input[type=url],
.night-theme input[type=search],
.night-theme textarea {
  border: 1px solid #4F5E65;
  background: transparent;
  color: #BDC2C4;
}

.night-theme select {
  background: #2B383F;
  border-color: #2B383F;
  color: #BDC2C4;
}

.checkbox-group .checkbox {
  margin-bottom: 8px;
}

.checkbox-group .checkbox:last-child {
  margin-bottom: 0px;
}

.checkbox {
  position: relative;
  min-height: 18px;
  line-height: 18px;
  min-width: 18px;
}

.checkbox__input {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  outline: 0;
  z-index: 3;
  width: 16px;
  height: 16px;
  margin: 0;
}

.checkbox__label {
  padding-left: 28px;
  transition: all 275ms;
  position: relative;
}

.checkbox__input:checked~.checkbox__label {
  color: #09161D;
}

.checkbox__input:checked~.checkbox__label:before {
  border-color: #31C3A2;
  background-color: #31C3A2;
}

.checkbox__input:checked~.checkbox__label:after {
  position: absolute;
  left: 4px;
  top: 0px;
  opacity: 1;
  color: #ffffff;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f00c';
  font-size: 9px;
}

.checkbox__label:before {
  border: 1px solid #BDC2C4;
  border-radius: 4px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
}

input[type=radio].checkbox__input~.checkbox__label:before {
  border-radius: 100%;
}

input[type=radio].checkbox__input~.checkbox__label:after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 100%;
  top: 4px;
  left: 4px;
}

.night-theme .checkbox__label:before {
  border-color: #4F5E65;
}

.night-theme .checkbox__input:checked~.checkbox__label {
  color: #ffffff;
}

/* Sliders */
input[type=range] {
  margin: auto;
  outline: none;
  padding: 0;
  width: 100%;
  height: 8px;
  background-color: #E3E8EB;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  width: 24px;
  height: 16px;
  border: 0;
  background: #09161D;
  border-radius: 8px;
  -webkit-appearance: none;
}

.night-theme input[type=range] {
  background-color: #38444A;
}

.night-theme input[type=range]::-webkit-slider-thumb {
  background: #ffffff;
}

/* Switches */
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
}

.switch__input {
  display:none;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BDC2C4;
  transition: all 275ms;
  border-radius: 32px;
}

.switch__slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: all 275ms;
  border-radius: 32px;
}

input:checked + .switch__slider {
  background-color: #31c3a2;
}

input:focus + .switch__slider {
  box-shadow: 0 0 1px #31c3a2;
}

input:checked + .switch__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.night-theme .switch__slider {
  background-color: #4F5E65;
}

/* Tables */
table {
  width: 100%;
  border-spacing:0;
}

tbody tr:nth-child(odd) {
  background-color: #F5F8FA;
}

tbody tr:nth-child(even) {
  background-color: transparent;
}

th {
  font-weight: normal;
  font-size: 12px;
  color: #91979A;
}

th,
td {
  padding: 8px;
  text-align: left;
}

tr th:last-child,
tr td:last-child {
 text-align: right;
}

.night-theme tbody tr:nth-child(odd) {
  background-color: #2B383F;
}

/* Toggles */
.toggle {
  display: inline-block;
  border-radius: 4px;
  transition: all 275ms;
  overflow: hidden;
  margin-bottom: 24px;
}

.toggle__option {
  display: inline-block;
  padding: 8px;
  background-color: #F8FAFB;
  color: #91979A;
  border: 0;
  float: left;
}

.night-theme .toggle__option {
  background-color: #2B383F;
}

.toggle__option--active,
.night-theme .toggle__option--active {
  background-color: #09161D;
  color: #FFFFFF;
}

